ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.clases {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .clases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  .clase {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}