---
import Layout from '../layouts/Layout.astro'
import Lista from '../components/Lista.astro'
---

<Layout title='Blog Iglesia Proyecto de Vida'>
  <main>
    <nav>
      <img
        src='https://res.cloudinary.com/ddmtmwlja/image/upload/v1722316483/kmn68txgcgcd3hpeo3ud.webp'
        alt='logo de la iglesia'
      />
      <h1>Iglesia Proyecto de Vida</h1>
    </nav>
    <section>
      <header>
        <h2>Clases</h2>
        <hr />
      </header>
      <article>
        <Lista />
      </article>
    </section>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  nav {
    background: #4bbfc35a;
    padding: 15px;
    box-shadow: #232323 0px 0px 5px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 28px;
    text-transform: uppercase;
    color: #3d4040;
  }

  img {
    aspect-ratio: 1 / 1;
    width: 100px;
    margin-right: 30px;
    display: none;
  }

  article {
    border-radius: 10px;
    background: #f7f7f7;
    height: 400px;
    overflow-y: scroll;
    padding-block: 20px;
    padding-inline: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-left: 2rem;
    color: #232323;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 70px;
  }

  hr {
    width: 90%;
    opacity: 0.5;
  }

  article::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    article {
      height: 800px;
    }

    h2 {
      margin-left: 4rem;
    }

    img {
      display: block;
    }

    nav {
      height: 100px;
      justify-content: space-around;
    }
  }

  @media screen and (min-width: 1024px) {
    article {
      height: 600px;
    }

    h2 {
      margin-left: 6rem;
    }
  }
</style>
